/*make the entire background black, all fonts white, and circular crop the rps images*/
body {
  font-family: "Audiowide", sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 6vh;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.scoreboard-outer {
  color: white;
  margin: 20px; /*Change later*/ 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard-inner {
  margin-top: -20px;
  display: flex;
  align-items: center;
}

.score-separator {
  padding: 0px 15px;
}

.player,
.computer {
  font-size: 3vh;
  text-align: center;
}

.versus {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.player-choice, 
.computer-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vs {
  padding: 60px 35px 0px 35px;
}

.player-choice-img-div,
.computer-choice-img-div {
  height: 6.5vw;
  width: 6.5vw;
  border: 2px;
  border-style: solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-choice-img,
.computer-choice-img {
  height: 6vw;
  width: 6vw;
}

.instructions {
  display: flex;
  justify-content: center;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation-name: bounce;
  animation-duration: 1s;
}

.click-here {
  color: white;
  padding: 1px 4px;
  margin-top: 65px;
  margin-bottom: -90px;
  border-style: solid;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.results {
  font-size: 4vh;
  color: white;
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-result {
  text-align: center;
}

.play-again {
  font-family: "Audiowide", sans-serif;
  font-size: 2.5vh;
  padding: 10px 15px;
  margin-top: 20px;
  margin-bottom: -45px;
  border-color: black;
  border-style: solid;
  border-radius: 12px;
}

.play-again:hover {
  box-shadow: 0 0 3px 3px white;
}

.choices {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choices button {
  height: 5.5vw;
  width: 5.5vw;
  border: none;
  background: none;
  margin: 15px;
}

.rock-img,
.paper-img,
.scissors-img {
  height: 5vw; 
  width: 5vw;
}